/* You can add global styles to this file, and also import other style files */
a.navbar-brand {
    width: 9em;
    white-space: normal;
    padding: 0;
    line-height: 13px;
}

a.navbar-brand span {
    font-size: 1.76em;
    line-height: 1em;
    margin: 0;
}

.alert p{
    margin:0;
    padding: 0;
}

/* input.user-search::before {
    content: "\f002";
    font-family: FontAwesome;
    left:-25px;
    position:absolute;
    top:0;
} */

p.card-text {
    font-size: .8em;
}

div.card h3.card-header span.pull-right {
    font-size: .48em;
}